.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

document {
  font-size: 12px;
}

.division-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-width: 800px;
  max-width: 1100px;
  padding: 10px;
  margin: auto;
}
.division-box > * {
  max-width: 300px;
}
.choices {
  grid-column-start: 1;
  grid-row-start: 1;
}
.support {
  grid-column-start: 1;
  grid-row-start: 2;
}
.basics {
  grid-column-start: 2;
  grid-row-start: 1;
}
.equipment {
  grid-column-start: 2;
  grid-row-start: 2;
}
.combat {
  grid-column-start: 3;
  grid-row-start: 1;
}
.terrain {
  grid-column-start: 3;
  grid-row-start: 2;
}
@media(max-width: 900px) {
  .division-box {
    grid-template-columns: 1fr 1fr;
    min-width: inherit;
  }
  .choices {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .support {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  .basics {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .equipment {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .combat {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .terrain {
    grid-row-start: 3;
    grid-column-start: 2;
  }
}
@media(max-width: 600px) {
  .division-box {
    grid-template-columns: 1fr;
    min-width: inherit;
  }
  .choices {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .support {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .basics {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .equipment {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  .combat {
    grid-row-start: 5;
    grid-column-start: 1;
  }
  .terrain {
    grid-row-start: 6;
    grid-column-start: 1;
  }
}

.bonus {
  color: #080;
}
.penalty {
  color: #800;
}
.support .list {
  columns: 2;
}
.support label {
  margin: 0;
}
.disabled_company {
  color: #888;
}
.division-box ul {
  display: block;
  margin: 0;
  padding: 0;
}
.division-box li {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.division-box .terrain table th {
  text-align: center;
}
.division-box .terrain table td {
  width: 25%;
  text-align: center;
}
.unit-select {
  display: flex;
}
input, select {
  flex: 1;
}
input[type=number] {
  width: 75px;
  margin-right: 5px;
  text-align: right;
}
select {
  max-width: 300px;
}
/* Shouldn't bootstrap handle this? */
.checkbox label {
  margin-left: 5px;
}
.checkbox.disabled label {
  color: #ccc;
}
.mod-selector {
  text-align: center;
}
.mod-selector button {
  margin: 5px;
}
.stat-tooltip-container {
  position: relative;
}
.stat-tooltip {
  position: absolute;
  padding: 5px;
  top: 25px;
  right: 0px;
  opacity: 0;
  transition: 0.5s;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}
.stat-tooltip-container:hover .stat-tooltip {
  opacity: 1;
}
